{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!--	<style>-->
<!--		body { background: #FCDDBC; }-->
<!--	</style>-->
{% endblock %}

{% block title %}
Select an image
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/upload">Upload</a>
      <a class="nav-item nav-link" href="/">Tags</a>
    </div>
  </div>
</nav>

<div class="container">
	<form method="POST" action="/upload_done" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputName">Name the image</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter name" name="imageName" required>
        </div>
        <div class="form-group">
            <label for="inputDescription">Give a description to this image</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Enter description" name="imageDescription" required>
        </div>
        <div class="form-group">
            <label for="inputUrl">Paste image url</label>
            <input type="url" class="form-control" id="inputUrl" placeholder="Enter url" name="imageUrl" required>
            <small id="imgUrl" class="form-text text-muted">Url must be for a png or jpg</small>
        </div>
      	<div class="form-group">
			{{ form.submit(class="btn btn-primary") }}
		</div>
    </form>
</div>

{% endblock %}