{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #FCDDBC; }
	</style>
{% endblock %}


{% block title %}
Find your best image
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <p class="lead">This is the index page for proposing images from tags selection</p>

        <form class="form">
            <div class="form-group">
                <select name="tags" class="form-control" id="exampleFormControlSelect1">
                {% for key, val in form.tags.data %}
                    <option id="{{ key }}">{{ val }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-check">
                {% for subfield in form.type %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description }}
            </div>
            <div class="form-check">
                {% for subfield in form.target %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>

        </form>
    </div>
  </div>
</div>

{% endblock %}

<h1 class="pt-5 pb-2">Welcome to the image proposal</h1>

