{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<!--	<style>-->
<!--		body { background: #FCDDBC; }-->
<!--	</style>-->
{% endblock %}


{% block title %}
Find your best image
{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/upload">Upload</a>
      <a class="nav-item nav-link" href="/">Tags</a>
    </div>
  </div>
</nav>

<div class="container">
    <img class="fit-picture"
     src="{{ img }}"
     alt="loutre"
     width="500" height="400">
</div>

<div  class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <p class="lead">This is the index page for proposing images from tags selection, press control for multiple choice</p>

        <form class="form" action="{{url_for('set_picture')}}" method="post">
            <div class="form-group">
                <select name="tags" class="form-control" id="exampleFormControlSelect1" multiple>
                    {% for key, val in form.tags.data %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-check">
                {% for subfield in form.type %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description }}
            </div>
            <div class="form-check">
                {% for subfield in form.target %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>
  </div>
</div>

{% endblock %}

<h1 class="pt-5 pb-2">Welcome to the image proposal</h1>

